<!-- Views/Home/Detail.cshtml -->
@model Pet

<h2>Pet Details</h2>
<BR>
<div class="container">
    <div class="row">
        <!-- Column for Image -->
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="pet-image" />
        </div>
        
        <!-- Column for Other Details -->
        <div class="col-md-4">
            <h3>Name: @Model.Name</h3>
            <p>Type: @Model.Type</p>
            <p>Color: @Model.Color</p>
            <p>Size: @Model.Size</p>
            <p>Gender: @Model.Gender</p>
            <p>Breed: @Model.Breed</p>
            <p>Age: @Model.Age</p>
            <p>Adoption Type: @Model.AdoptionType</p>
            <p>Coat Length: @Model.CoatLength</p>
            <p>Care And Behavior: @Model.CareAndBehavior</p>
            <p>Price: @Model.Price</p>
            <p>Description: @Model.Description</p>

            <form method="post" asp-action="AddToCart" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>

        </div>
    </div>
</div>
